@model IEnumerable<OrderHeader>
<div class="row pt-4 pb-4">
    <div class="col-6 pb-4">
        <h2>List of Orders</h2>
    </div>

    <div>
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Order Code</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var OrderHeader in Model)
                {
                    <tr>
                        <td>@OrderHeader.Id</td>
                        <td>@OrderHeader.OrderCode</td>
                        <td>@OrderHeader.Email</td>
                        <td>@OrderHeader.OrderDate</td>
                        <td>
                            <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-ordercode="@OrderHeader.OrderCode" class="btn btn-outline-info">Detail</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts {
    <script src="~/js/user.js"></script>
}